{% extends 'main/main.html' %}
{% block titulo %}Cargar Excel{% endblock %}
{% block contenido %}


	<h1>{{msj}}</h1>

	{% if msjErrorRol %}
		<h6 style="background:pink">{{msjErrorRol}} <a href="{% url 'url_agregar_rol_auto' rol='XL' %}">Clik Para Agregar Rol</a> </h6>

	{% else %}

		{% if  msjError %}
			<h6 style="background:pink">{{msjError}}</h6>
		{% endif %}
		
		{% if not list_xl %}
		<form action="" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
		    {{ form.as_p }}
		    <input type="submit" value="Continuar" class="btn btn-info"/>
		</form>
		{% else %}

			<div class="table-responsive">
        		<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<tr>
						<th>Motivo</th>
						<th>Identida</th>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Email</th>
						<th>Ficha</th>
				   	</tr>
					{% for xl in list_xl %}
					<tr>
						{% for l in xl %}
							<td>{{l}}</td>
						{% endfor %}
					</tr>
					{% endfor %}
				</table>
			</div>
		{% endif %}
	{% endif %}

{% endblock %}