{% extends "main/main.html" %}
{% block titulo %}Vigilantes{% endblock %}
{% block contenido %}

	<h1>Lista Vigilantes</h1>

	<div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
			<tr>
				
				<th>Identidad</th>
				<th>Nombres</th>
				<th>Apellidos</th>
				<th>Email</th>
				<th>Editar</th>
				<th>Eliminar</th>
			</tr>
			{% for l in  vig %}
			<tr>
				<td>{{l.persona.documentoIdentidad}}</td>
				<td>{{l.persona.nombres}}</td>
				<td>{{l.persona.apellidos}}</td>
				<td>{{l.persona.usuario.email}}</td>
				<td><a href="{% url 'url_editar_vigilante' id_vigilante=l.persona.id %}">editar</a></td>
				<td><a href="{% url 'url_eliminar_vigilante' id_vigilante=l.persona.id %}">eliminar</a></td>
			</tr>
			{% endfor %}
		</table>
	</div>
	<a href="{% url 'url_agregar_vigilante' %}">{{msj}}</a>
	{{msj2}}
{% endblock  %}