{% extends 'main/main.html' %}
{% block titulo %}Listar Instructores{% endblock %}
{% block contenido %}
  
  <h1>Lista Instructores</h1>

  <div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
  		<tr>
      	<th>Identida</th>
     		<th>Nombre</th>
     		<th>Apellido</th>
     		<th>Email</th>
        <th>Editar</th>
        <th>Eliminar</th>
     	</tr>
  	  {% for l in rp %}
      <tr>
  			<td>{{l.persona.documentoIdentidad}}</td>
  			<td>{{l.persona.nombres}}</td>
  			<td>{{l.persona.apellidos}}</td>
  			<td>{{l.persona.usuario.email}}</td>
        <td><a href="{% url 'url_editar_instructor' id_instructor=l.persona.id %}">editar</a></td>
        <td><a href="{% url 'url_eliminar_instructor' id_instructor=l.persona.id %}">eliminar</a></td>
      </tr>
      {% endfor %}
    </table>
  </div>

  <a href="{% url 'url_agregar_instructor' %}">{{msj}}</a>
  {{msj2}}

{% endblock %}