{% extends 'main/main.html' %}
{% block titulo %}{{ id_persona.nombres }} {{ id_persona.apellidos }}{% endblock %}
{% block contenido %}
	<a href="" onClick="history.back()">Volver</a>
	<h1>Perfil</h1>
	
	<div class="table-responsive">
	    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
			<thead>
				<th>Número de documento</th>
				<th>Nombres</th>
				<th>Apellidos</th>
				<th>Teléfono</th>
				<th>Rol</th>
			</thead>
			<tbody>
				<tr>
					<td>{{ id.documentoIdentidad }}</td>
					<td>{{ id.nombres }}</td>
					<td>{{ id.apellidos }}</td>
					<td>{{ id.telefono }}</td>
					{% if queryRol %}
					<td>{{ queryRol.rol.rol }}</td>
					{% else %}
					<td>{{ msjError }}</td>
					{% endif %}
				</tr>
			</tbody>
		</table>
	</div>

	<div class="table-responsive">
	    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
			<h4>Permisos</h4>
			<thead>
				<th>Hora</th>
				<th>Fecha</th>
				<th>Motivos</th>
				<th>Estados</th>
			</thead>
			<tbody>
			{% for permisos in queryPermisos %}
				<tr>
					<td>{{ permisos.permiso.horaSalida }}</td>
					<td>{{ permisos.permiso.fecha }}</td>
					<td>{{ permisos.permiso.motivo }}</td>
					<td>{{ permisos.estado }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}