{% extends 'main/main.html' %}
{% block titulo %}Listar Aprendices{% endblock %}
{% block contenido %}

	<p align="right">Hoy: {{ fechaToday }}</p>

	<h1>Reprte por aprendiz</h1>
	<div class="agregar">
		<form action="" method="POST" >
			{% csrf_token %}
			<input type="search" placeholder="Número de documento o Nombre del aprendiz" name="campoAprendiz">

			<select name="numeroFicha" id="">
				<option></option>
				{% for f in fichas %}
				<option value="{{ f.numeroFicha }}">{{ f.numeroFicha }}</option>
				{% endfor %}
			</select>
			<input type="submit" value="Buscar" class="btn btn-info">
		</form>
	</div>

  {% if queryDocumentos or queryDocumentoFicha or queryFicha or queryNombres %}
	<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
		<thead>
			<tr>
				<th> Documento </th>
				<th> Nombres </th>
				<th> Apellidos </th>
				<th> Ficha </th>
			</tr>
		</thead>
		<tbody>
			{% for nombres in queryDocumentos %}
			<tr>
				<td>{{ nombres.persona.documentoIdentidad }}</td>
				<td>{{ nombres.persona.nombres }}</td>
				<td>{{ nombres.persona.apellidos }}</td>
				<td>{{ nombres.ficha.numeroFicha }}</td>
				<td><a href="{% url 'url_persona_perfil' id_persona=nombres.persona.id %}"><i class="fa fa-eye"></i></a></td>
			</tr>
			{% endfor %}
			{% for nombres in queryNombres %}
			<tr>
				<td>{{ nombres.persona.documentoIdentidad }}</td>
				<td>{{ nombres.persona.nombres }}</td>
				<td>{{ nombres.ficha.numeroFicha }}</td>
				<td><a href="{% url 'url_persona_perfil' id_persona=nombres.persona.id %}"><i class="fa fa-eye"></i></a></td>
			</tr>
			{% endfor %}
			{% for fichas in queryDocumentoFicha %}
			<tr>
				<td>{{ fichas.persona.documentoIdentidad }}</td>
				<td>{{ fichas.persona.nombres }}</td>
				<td>{{ fichas.ficha.numeroFicha }}</td>
				<td><a href="{% url 'url_persona_perfil' id_persona=fichas.persona.id %}"><i class="fa fa-eye"></i></a></td>
			</tr>
			{% endfor %}
			{% for nombres in queryNombreFicha %}
			<tr>
				<td>{{ nombres.persona.documentoIdentidad }}</td>
				<td>{{ nombres.persona.nombres }}</td>
				<td>{{ nombres.ficha.numeroFicha }}</td>
				<td><a href="{% url 'url_persona_perfil' id_persona=nombres.persona.id %}"><i class="fa fa-eye"></i></a></td>
			</tr>
			{% endfor %}
			{% for fichas in queryFicha %}
			<tr>
				<td>{{ fichas.persona.documentoIdentidad }}</td>
				<td>{{ fichas.persona.nombres }}</td>
				<td>{{ fichas.ficha.numeroFicha }}</td>
				<td><a href="{% url 'url_persona_perfil' id_persona=fichas.persona.id %}"><i class="fa fa-eye"></i></a></td>
			</tr>
			{% endfor %}
		</tbody>

	</table>
	{% endif %}
	{{ msjError }}
{% endblock %}
