<!DOCTYPE html>
{% load staticfiles %}
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>LOGIN | ADMIN</title>
		<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/style_login.css' %}">
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

	</head>

	<body class="login_admin" >
		<section class="row" id="section" >
			
			<div  class="col-md-6 col-lg-6" align="center">
				<div class="div_login">
					<img class="logo_login" src="{% static 'img/login.png' %}">
		        	
		        	<h2>Bienvenido</h2>		
					{% if info_enviada %}
						{{ error }}
					{% else %}
						<form action="" method="POST" class="blue">
							{% csrf_token %}
							{{loginf.as_p}}
							<input class="input_login btn btn-info" type="submit" name="Enviar" value="Iniciar Sesión">
						</form>
						<h3>{{msj}}</h3>
					{% endif %}
				</div>	
			</div>

			<div class="div_collage col-md-6 col-lg-6">
				<img id="img_collage" src="{% static 'img/collage.jpg'%}">
			</div>
		</section>
		
	</body>


</html>


